node_modules/
config/config.js
/uploads
/routes/api/s3credentials.js
/temp
/routes/api/keys/*.pem
/scripts/depot_tools/
/scripts/src/
/scripts/.gclient
/scripts/.gclient_entries
/deploy
/key.pem
/cert.pem
/minipost-server-key.key
/minipost-server-certificate.crt
/minipost-server-bundle.ca-bundle